<template>
  <v-card class="mb-12"
          color="grey lighten-4"
          >
    <v-card-text>
      <v-container>
        <v-data-table
          :headers="headers"
          :items="hosts"
          show-expand
          :expanded.sync="expanded"
          item-key="name"
        >
        <template v-slot:top>
          <v-toolbar flat>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-btn @click="getHosts"><v-icon>mdi-reload</v-icon></v-btn>
          </v-toolbar>
        </template>
        <template v-slot:expanded-item="{ headers, item }">
          <td :colspan="headers.length">
            <v-data-table
              flat
              :headers="dHeaders"
              :items="item.devices"
              :items-per-page="30"
              :search="search"
              hide-default-footer
            >
          <template v-slot:item.sender="{ item }">
            <v-simple-checkbox
              :disabled="senderDisabled(item)"
              v-model="item.sender"
              @click="clickSender(item)"
            ></v-simple-checkbox>
          </template>
          <template v-slot:item.receiver="{ item }">
            <v-simple-checkbox
              :disabled="receiverDisabled(item)"
              v-model="item.receiver"
              @click="setReceiver(item)"
            ></v-simple-checkbox>
          </template>
            </v-data-table>
          </td>
        </template>
        </v-data-table>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
import {mapState, mapMutations} from 'vuex'
export default {
  data() {
    return {
      expanded: [],
      singleExpand: false,
      headers: [
        { text: 'Name', value: 'name' },
        { text: 'OS', value: 'os' },
        { text: 'IP', value: 'ip' },
      ],
      dHeaders:[
        { text: 'Name', value: 'name' },
        { text: 'SampleRate', value: 'defaultSampleRate' },
        { text: 'Sender', value: 'sender', sortable: false },
        { text: 'Receiver', value: 'receiver', sortable: false },
      ],
      search: "Merging",
    }
  },
  computed: {
    ...mapState({
      sender: state => state.test.sender,
      receivers: state => state.test.receivers,
      hosts: state => state.hosts,
    }),
  },
  methods: {
    ...mapMutations([
      'setSender',
      'setReceiver'
    ]),
    clickSender(item){
      if (this.sender == null){
        this.setSender(item)
      } else 
      if (item.id == this.sender.id) {
        this.setSender(item)
      }
    },
    senderDisabled(item) {
      if(item.receiver == true){
        return true
      } 
      if(this.sender !== null){
        if (item.id == this.sender.id){
          return false
        }
        return true
      }
      return false
    },
    receiverDisabled(item) {
      return item.sender 
    },
    getHosts(){
      this.$store.dispatch('getHosts');
    },
  },
}
</script>