<template>
  <v-card class="mb-12"
          color="grey lighten-4"
          :loading="loading">
    <v-card-text>
      <v-row>
      Runs: {{config.runs}} /
      Samples: {{config.samples}}
      </v-row>
    </v-card-text>
    <v-form>
       <v-container>
      <v-row>
        <v-col cols="3">
        <v-switch
          v-model="asJson"
          label="Show as Json"
          class="pa-3"
        ></v-switch>
        </v-col>
        <v-col cols="4">
          <v-text-field
            v-model="fileName"
            label="Regular"
            clearable
          >
          </v-text-field>
        </v-col>
        <v-col  cols="3">
          <v-btn @click="saveToFile">
            Save Result as Json
          </v-btn>
        </v-col>
        <v-col cols="2">
          <v-btn @click="getResults" tooltip="Request results">
            <v-icon>mdi-reload</v-icon>
          </v-btn>
        </v-col>
      </v-row>
       </v-container>
    </v-form>
    <template slot="progress">
      <v-progress-linear
        color="grey lighten-2"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>
  <v-container>
    <v-simple-table v-if="!asJson" scrollable fixed-header height="300px">
      <thead>
        <th class="text-left">Run Id</th>
        <th class="text-left">Data</th>
      </thead>
      <tbody>
        <tr v-for="r in results" :key="r.runId">
        <td>{{r.runId}}</td>
        <td>
          <v-simple-table v-if="r.result!=null">
            <thead>
              <th class="text-left">
                Host
              </th>
              <th class="text-left">
                diffSamples
              </th>
              <th class="text-left">
                diffStart
              </th>
              <th class="text-left">
                diffStop
              </th>
              <th class="text-left">
                diffDuration
              </th>
              <th class="text-left">
                mean + sd by Channel
              </th>
            </thead>
            <tbody>
              <tr v-for="res in r.result" :key="res.hostId">
                <th>{{hostName(r.hostId)}}</th>
                <td>{{res.diffSamples}}</td>
                <td>{{toMilliSeconds(res.diffStart)}}</td>
                <td>{{toMilliSeconds(res.diffStop)}}</td>
                <td>{{toMilliSeconds(res.diffDuration)}}</td>
                <td>{{toMilliSeconds(res.mean)}} +/- {{toMilliSeconds(res.standardDeviation)}}</td>
              </tr>
            </tbody>
          </v-simple-table>
         </td>
        
        </tr>
      </tbody>
    </v-simple-table>
    <v-textarea v-if="asJson"
      label="Results as Json"
      :value=stringResult
    >
    </v-textarea>
  </v-container>
  </v-card>
</template>

<script>
import {mapState} from 'vuex'
export default {
  data() {
    return {
      timer: null,
      asJson: false,
      fileName: '' 
    }
  },
  computed: {
    ...mapState({
      hosts: state => state.hosts,
      isInit: state=> state.control.isInit,
      isTesting: state => state.control.isTesting,
      loading: state => state.control.loading,
      results: state => state.results,
      config: state => state.test.config,
    }),
    stringResult(){
      return JSON.stringify(this.results, null, 4)
    },
  },
  methods: {
    getResults() {
      this.$store.dispatch('getResults');
    },
    toMilliSeconds(t){
      return ((t/1000)/1000).toFixed(2) + 'ms'
    },
    hostName(id){
      return this.hosts.filter(x => x.id == id).name
    },
    saveToFile(){
      const jsonDataStr = JSON.stringify(this.results)
      const blob = new Blob([jsonDataStr], { type: 'application/json' })
      const url = URL.createObjectURL(blob)
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', this.fileName)
      document.body.appendChild(link)
      link.click()
      document.body.removeChild(link)
    }
  },
  beforeDestroy() {
    clearInterval(this.timer)
  }
}
</script>