<template>
  <v-card color="grey lighten-4" class="mb-12">
    <v-card-title>Configure Test</v-card-title>
    <v-card-text>
      <v-simple-table>
        <template v-slot:default>
          <tbody>
            <tr>
              <th>Sender:</th>
              <td v-if="sender!=null" :colspan="receivers.length">{{sender.name}} - {{sender.device}}</td>
              <td v-else></td>
            </tr>
            <tr>
              <th>Listener:</th>
              <td       
                v-for="item in receivers"
                :key="item.id"
                >
                {{item.name}} - {{item.device}}
                </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card-text>
    <v-divider class="mx-4"></v-divider>
    <v-card-title>Test Parameters</v-card-title>
    <v-card-text>
      <v-row>
        <v-col>
      <v-select
        v-model="selectChannels"
        :items="channels"
        label="Channels"
      ></v-select>
      <v-select
        v-model="selectSampleRate"
        :items="sampleRates"
        label="Sample Rate"
        suffix="Hz"
      ></v-select>
      <v-select 
        label="Frames Per Packet"
        :items="fpPs"
        v-model="selectFpP">
      </v-select>
        </v-col>
        <v-col>
          <v-select label="Function"
            v-model="selectFunction"
            :items="funcs"></v-select>
          <v-slider label="Test Runs"
            v-model="runs"
            class="align-center"
            max="100"
            min="1">
            <template v-slot:append>
              <v-text-field
                v-model="runs"
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field>
            </template>
          </v-slider>
          <v-slider label="Amount Packages"
              v-model="samples"
              class="align-center"
              max="10000000"
              min="100000"
              step="100000">
            <template v-slot:append>
              <v-text-field
                v-model="samples"
                disabled
                class="mt-0 pt-0"
                hide-details
                single-line
                type="number"
                style="width: 70px"
              ></v-text-field>
            </template>
          </v-slider>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import {mapGetters,mapMutations} from 'vuex' 
export default {
  data() {
    return {
      isTesting: false,
      channels: [{id:1, text: 1},
      {id:2, text: 2},
      {id:3, text: 3},
      {id:6, text: 6},
      {id:8, text: 8},
      {id:12, text: 12},
      {id:24, text: 24},
      {id:48, text: 48},
      {id:64, text: 64},
      ],
      sampleRates: [
        {id: 0, text: "44100",},
        {id: 1, text: "48000",},
        {id: 2, text: "96000",},],
      funcs: [{id: 0, text: "Pulse",},{id: 0, text: "Steps",}],
      fpPs: [{id: 0, text: 48},],
      selectChannels: {id:1, text: 1},
      selectSampleRate: {id: 1, text: "48000",},
      selectFunction: {id: 0, text: "Pulse",},
      selectFpP: {id: 0, text: 48},
      runs: 10,
      samples: 1000000,
    }
  },
  computed: {
    ...mapGetters({
      sender: 'senderObject',
      receivers: 'mappedReceivers',
    }),
  },
  
  methods: {
    ...mapMutations({
      channel: 'setChannels',
      function: 'setFunction',
      sampleRate: 'setSampleRate',
      setConfig: 'setConfig',
    }),
    startTest() {
      this.isTesting=true
      console.log(this.test)
    },
  },watch: {
    // eslint-disable-next-line no-unused-vars
    selectChannels: function (newValue, oldValue) {
      this.$store.commit('setChannels',newValue) 
    },
    // eslint-disable-next-line no-unused-vars
    selectSampleRate: function (newValue, oldValue) {
      this.$store.commit('setSampleRate',newValue) 
    },
    // eslint-disable-next-line no-unused-vars
    selectFunction: function (newValue, oldValue) {
      this.$store.commit('setFunction',newValue) 
    },
    selectFpP: function (newValue){
      this.$store.commit("setFramesPerPacket",newValue)
    },
    runs: function (newValue){
      this.$store.commit("setRuns",newValue)
    },
    samples: function (newValue){
      this.$store.commit("setSamples",newValue)
    },
  },
}
</script>