<template>
  <v-app>
    <v-navigation-drawer v-model="drawer"      
          app
          absolute
          >
    <v-list nav dense>
      <v-list-item-group v-model="group">
        <v-list-item to="/" link>
          <v-list-item-title>Test</v-list-item-title>
        </v-list-item>
        <v-list-item to="/settings" link>
          <v-list-item-icon>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Settings</v-list-item-title>
        </v-list-item>
        <v-list-item to="/about" link>
          <v-list-item-icon>
            <v-icon>mdi-cog</v-icon>
          </v-list-item-icon>
          <v-list-item-title>About</v-list-item-title>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>
        Latency Test
      </v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container>
      <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({ drawer: null, group: null, }),
  name: 'App',
  created () {
    // window.setInterval(() => {
      this.$store.dispatch('getHosts');
    // j
    
  },
  watch: {
    group () {
        this.drawer = false
      },
  },
}
</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
