<template>
  <v-stepper  v-model="e1">
    <v-stepper-header>
      <v-stepper-step
        :complete="e1 > 1"
        step="1"
      >
        Host Selection
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
        :complete="e1 > 2"
        step="2"
      >
        Configure Test
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        Results
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <!--HostInfo-->
      <v-stepper-content step="1">
        <HostInfo/>
        <v-btn
          color="primary"
          @click="e1 = 2"
          :disabled="!selected"
        >
          Continue
        </v-btn>
        <v-btn text @click="cancel">
          Cancel
        </v-btn>
      </v-stepper-content>
      <!--Test Configure-->
      <v-stepper-content  step="2">
        <TestConfigure/>
        <v-btn color="primary"
          @click="initTest"
          v-if="!isInit"
          :loading="loading"
          :disabled="loading"
        >
          Init  
        </v-btn>


        <v-btn
          v-if="isInit"
          color="primary"
          @click="startTest"
        >
          Start Test
        </v-btn>

        <v-btn text
          @click="cancel"
        >
          Cancel
        </v-btn>
      </v-stepper-content>
      <!--Result-->
      <v-stepper-content step="3">
        <Result/>
        <v-btn
          color="primary"
          @click="cancel"
        >
          New Test
        </v-btn>

        <v-btn text
          @click="cancel"
        >
          Cancel
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import HostInfo from '../components/HostInfo.vue'
import TestConfigure from '../components/TestConfigure.vue'
import Result from '../components/Result.vue'
import {mapState, mapGetters} from 'vuex'
export default {
  components: {
    HostInfo,
    TestConfigure,
    Result,
  },
  data () {
      return {
      e1: 1,
      }
  },
  computed: {
    ...mapState({
      isInit: state=> state.control.isInit,
      isTesting: state => state.control.isTesting,
      loading: state => state.control.loading,
    }),
    ...mapGetters({
      selected: 'hostSelection'
    }),
    notStarted() {
      return !this.IsInit && !this.IsTesting
    }
  },
  methods: {
    initTest() {
      this.$store.dispatch("initTest")
    },
    startTest() {
      this.e1 = 3
      this.$store.dispatch('startTest');
    },
    cancel() {
      this.e1 = 1
      this.$store.dispatch('cancel')
    }
  },
}
</script>